/* GLOBALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
    font-weight: bold;
}

header {
    background-color: rgb(248, 111, 32);
    position: fixed;
    width: 100%;
    z-index: 1;
}

h4 {
    font-size: 12px;
}
 
h3 {
    font-size: 17px;
    font-weight: bolder;
}

footer {
    background-color: rgb(27, 27, 27);
}


/* LAYOUT */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-33 {
    width: calc(100% / 3 - 20px);
    margin: 0px 10px 0px 10px;
}

.content {
    width: 100%;
}

.margin-top-80 {
    margin-top: 80px;
}

/* STILE */

/* HEADER */

.header-footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#center-header img {
    width: 150px;
}

#right-header img {
    width: 20px;
}

/* MAIN */

.content img {
    width: 100%;
}

.labels {
    color: white;
    font-weight: bold;
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.p-5 {
    padding: 5px;
}

.red-bg {
    background-color: red;
    position: relative;
    bottom: 60px;
}

.green-bg {
    background-color: green;
    position: relative;
    bottom: 60px;
}

.red-txt {
    color: red;
}

.clothes-info span {
    font-size: 14px;
    font-weight: bold;
}


.visible-image {
    width: 100%;
}

.invisible-image {
    display: none;
}

.images:hover .invisible-image{
    display: block;
    margin-bottom: 4px;
}

.images:hover .visible-image {
    display: none;
}

.position-relative {
    position: relative;
}

.clothes-info {
    bottom: 25px;
}

.red-heart {
    bottom: 600px;
    left: 340px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 33px;
}

.red-heart:hover {
    color: red;
}

/* FOOTER */

.white-txt {
    color: white;
}

.right-footer img {
    width: 20px;
}

.p-20 {
    padding: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}


